body {
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    margin: 0 !important;
    padding: 0 !important;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #eaecef;
    background-color: white;
    z-index: 5;
}

.head-text{
    position: relative;
    transform: translate(0,25%);
}

.head-buttons{
    display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

.button {
    display: inline;
    background-color: tomato;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.what-bg{
    background-image: url("res/code.PNG");

    filter: blur(2.5px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.what-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.button:hover {
    background-color: red;
}